body {
  background: beige;
}
button {
  gap: 3ch;
}
ul {
  border: 2px solid black;
  background-color: orange;
  width: fit-content;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
li {
  list-style-type: none;
}
ul:empty {
  border: none;
  padding: 0px;
}
